<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=0.5, maximum-scale=1, initial-scale=1, user-scalable=no, target-densitydpi=device-dpi, minimal-ui">

	<title></title>

	<meta name="title" content="" />
	<meta name="description" content="" />
	<meta property="og:locale" content="en_US"/>
	<meta property="og:url" content="" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="h" />
	<meta property="og:site_name" content=""/>
	<meta name="twitter:url" content="">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@https://twitter.com/jayssface">
	<meta name="twitter:site" content="@jayssface">

	<link rel="shortcut icon" href="public/Includes/images/icon.png" type="image/png" />
	<link rel="icon" type="image/png" href="public/Includes/images/icon.png" />
	<link href="public/Includes/css/styles.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div class="content">
			<h2>Spacing around function</h2>
			<div class="function chart">
				<canvas id="function-chart" width="400" height="400"></canvas>
				<ul>
					<li><h3>functions</h3></li>
				</ul>
			</div>
			<h2>Spacing around enclosures</h2>
			<div class="parens chart">
				<canvas id="parens-chart" width="400" height="400"></canvas>
				<ul>
					<li><h3>Parenthesis ( )</h3></li>
				</ul>
			</div>
			<div class="brackets chart">
				<canvas id="brackets-chart" width="400" height="400"></canvas>
				<ul>
					<li><h3>Brackets [ ]</h3></li>
				</ul>
			</div>
			<div class="braces chart">
				<canvas id="braces-chart" width="400" height="400"></canvas>
				<ul>
					<li><h3>Braces { }</h3></li>
				</ul>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="public/Includes/scripts/Chart.min.js"></script>
	<script src="public/Includes/scripts/Display.js"></script>

	<script>

	</script>
</body>
</html>
